# Next.js build output
.next
out

# Dependencies
node_modules

# Public assets and content outputs
public/assets
public/content
app/api/versionMetadata.json
app/api/docsPathsAllVersions.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*