#
# Prettier is currently targeted at source code, so we ignore content for now.
#
# Note: We likely do want to format content, but that setup will likely make
# sense to handle later, as otherwise, our formatter will be incredibly noisy
# and slow as we work through the process of importing content into this
# unified docs repository.
/content

#
# In theory Prettier should ignore everything in `.gitignore`, but in
# practice it seems like we have to specify the `build` folder again here.
#
/build
/public
.next

**/dist
