# Set the default code owner for all files to be the web-presence team
* @hashicorp/web-devdot

# Content CODEOWNERS

# Terraform documentation ownership
/content/terraform-plugin-framework @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-log @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-mux @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-sdk @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-testing @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-docs-agents @hashicorp/tfc-agent-core
/content/terraform-cdk @hashicorp/cdktf
