# Set the default code owner for all files to be the web-presence team
* @hashicorp/web-devdot

# Content CODEOWNERS

# Terraform documentation ownership
/content/terraform-plugin-framework @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-log @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-mux @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-sdk @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-plugin-testing @hashicorp/terraform-devex @hashicorp/terraform-education
/content/terraform-docs-agents @hashicorp/team-hcpt-agent-engineering
/content/terraform-cdk @hashicorp/cdktf

/content/terraform @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform
/content/terraform/*/docs/language/backend/azurerm.mdx @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-azure
/content/terraform/*/docs/language/backend/gcs.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/tf-eco-hybrid-cloud
/content/terraform/*/docs/language/backend/kubernetes.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/tf-eco-hybrid-cloud
/content/terraform/*/docs/language/backend/s3.mdx  @hashicorp/terraform-education @hashicorp/terraform-core @hashicorp/team-docs-packer-and-terraform @hashicorp/terraform-aws

/content/terraform-docs-common/ @hashicorp/team-docs-packer-and-terraform
/content/terraform-docs-common/docs/plugin/ @hashicorp/terraform-devex 
/content/terraform-docs-common/data/plugin-nav-data.json @hashicorp/terraform-devex

/content/terraform-enterprise @hashicorp/team-docs-packer-and-terraform @hashicorp/ptfe-review


# Vault documentation ownership

/content/vault/*/docs/plugins/                     @hashicorp/vault-ecosystem @hashicorp/vault-education-approvers
/content/vault/docs/upgrading/plugins.mdx          @hashicorp/vault-ecosystem @hashicorp/vault-education-approvers
/content/vault/                                    @hashicorp/vault-education-approvers
/content/vault/*/docs/secrets/pki/                 @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/api-docs/secret/pki/                @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/api-docs/secret/pki.mdx             @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/*/docs/auth/cert.mdx                @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/api-docs/auth/cert.mdx              @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/*/docs/secrets/ssh/                 @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/api-docs/secret/ssh.mdx             @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/*/docs/secrets/transit/             @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/api-docs/secret/transit.mdx         @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/*/docs/configuration/seal/          @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/*/docs/enterprise/sealwrap.mdx      @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/api-docs/system/sealwrap-rewrap.mdx @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/*/docs/secrets/transform/           @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/api-docs/secret/transform.mdx       @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/*/docs/secrets/kmip-profiles.mdx    @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/*/docs/secrets/kmip.mdx             @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/api-docs/secret/kmip.mdx            @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/*/docs/enterprise/fips/             @hashicorp/vault-crypto @hashicorp/vault-education-approvers
/content/vault/*/docs/platform/k8s                 @hashicorp/vault-ecosystem @hashicorp/vault-education-approvers
/content/vault/                                    @hashicorp/vault-customer-engineering @hashicorp/vault-education-approvers
